<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Date</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Date night at 21:00 sunday? </h1>
        <div class="button-container">
            <button id="yes-button" class="button">YES</button>
            <button id="no-button" class="button">NO</button>
        </div>
    </div>
    <div id="hearts-container"></div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
